


.main{
    margin:0px;
    padding: 0px;
}
#parent { 
    background-size: cover;   
    width: 100%;
    height: 1090px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0px;



}


/*pseudoselector used to turn down the opacity of the background without affecting the text*/
#parent::after {
	content: ''; 
	width: 100%; 
	height: 100%;
	background-image: url("background-images/island-background.jpg"); 
	opacity: 0.5; 
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: -1;
}

  




    

/*=====================================================================================
GRID-CONTAINER
=======================================================================================*/

/*Grid layout for the whole game*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    /*padding: 5px;*/
}

.grid-container>div.item1>div#choice-buttons {
    /*padding: 5px 0;*/
    font-size: 15px;
}
/*=====================================================================================
BUTTONS START
=======================================================================================*/

.upgrade-display-buttons{
    padding: 0px;
    margin: 5px;
    object-fit: fill;
    height: 64.25px;
    width: 64.50px;
    border: 2px solid red;

    
  
}
/*item1 contains all load, reset, save button and the cabbage*/


.item1 {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    
}


/*Changing the margin and padding of the choice buttons*/
.choice-buttons{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    border: 2px solid;


}

/*Properties of the image of the cabbage*/
#cabbageImage{
    margin: 10px;
    padding: 10px;
}

/*item2 is autoclicker buy*/

.item2 {
    text-align: left;
    grid-column: 2;
    grid-row: 1;
}
/*item3 is cursor multiplier upgrade*/

.item3 {
    text-align: left;
    grid-column: 3;
    grid-row: 1;
}



/*=====================================================================================
BUTTONS END
=======================================================================================*/

h2#store-upgrade{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline double green;
    text-underline-position: under;
}